.appearance_page_mediclean .two-col {
	margin: 20px 0;
}

.appearance_page_mediclean .about-wrap h1 {
	font-size: 28px;
}

.appearance_page_mediclean .about-wrap h3 {
	font-weight: 400;
}

.appearance_page_mediclean .about-wrap .about-text {
	margin: 0!important;
	font-size: 16px;
}

.appearance_page_mediclean .about-img img {
	margin: 0!important;
	padding-left: 10px;
}

.appearance_page_mediclean .four-col {
	clear: both;
}

.appearance_page_mediclean .four-col .col p {
	padding-right: 10px;
}

.appearance_page_mediclean .four-col .col {
	max-width: 25%;
}

.appearance_page_mediclean .col .dashicons {
	margin-top: 6px;
	margin-right: 4px;
}
